create database QLKhachSan
USE QLKhachSan
GO
/****** Object:  Table [dbo].[tChiTietKH]    Script Date: 31-Oct-19 3:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietKH](
	[MaDK] [nvarchar](3) NULL,
	[LoaiKH] [nvarchar](1) NULL,
	[TenKH] [nvarchar](25) NULL,
	[NgaySinh] [datetime] NULL,
	[Phai] [bit] NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](7) NULL
) 
GO
/****** Object:  Table [dbo].[tDangKy]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDangKy](
	[MaDK] [nvarchar](3) NOT NULL,
	[SoPhong] [nvarchar](50) NULL,
	[LoaiPhong] [nvarchar](2) NULL,
	[NgayVao] [datetime] NULL,
	[NgayRa] [datetime] NULL,
 CONSTRAINT [PK_tDangKy] PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)
) 
GO
/****** Object:  Table [dbo].[tDoanhThu]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDoanhThu](
	[MaDK] [nvarchar](3) NOT NULL,
	[LoaiPhong] [nvarchar](2) NULL,
	[SoNgayO] [int] NULL,
	[ThucThu] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)
) 
GO
/****** Object:  Table [dbo].[tKhachHang]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKhachHang](
	[LoaiKH] [nvarchar](1) NULL,
	[DienGiai] [nvarchar](50) NULL
) 
GO
/****** Object:  Table [dbo].[tLoaiPhong]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLoaiPhong](
	[LoaiPhong] [nvarchar](1) NULL,
	[GiaiThich] [nvarchar](50) NULL,
	[DonGia] [int] NULL
) 
GO
/****** Object:  Table [dbo].[tPhong]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhong](
	[SoPhong] [nvarchar](50) NOT NULL,
	[LoaiPhong] [nvarchar](2) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_tPhong] PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC
)
) 
GO
INSERT [dbo].[tChiTietKH] ([MaDK], [LoaiKH], [TenKH], [NgaySinh], [Phai], [DiaChi], [DienThoai]) VALUES (N'001', N'1', N'Trần Hồng Hà', CAST(N'1980-12-12T00:00:00.000' AS DateTime), 0, N'34A Trần phú', NULL)
INSERT [dbo].[tChiTietKH] ([MaDK], [LoaiKH], [TenKH], [NgaySinh], [Phai], [DiaChi], [DienThoai]) VALUES (N'002', N'1', N'Nguyễn Thế Anh', CAST(N'1968-03-22T00:00:00.000' AS DateTime), 0, N'123 Trần Hưng Đạo', NULL)
INSERT [dbo].[tChiTietKH] ([MaDK], [LoaiKH], [TenKH], [NgaySinh], [Phai], [DiaChi], [DienThoai]) VALUES (N'003', N'1', N'Lê Gia Linh', CAST(N'1981-04-12T00:00:00.000' AS DateTime), 1, N'564 Nguyễn Trãi', N'8445563')
INSERT [dbo].[tDangKy] ([MaDK], [SoPhong], [LoaiPhong], [NgayVao], [NgayRa]) VALUES (N'001', N'201', N'A', CAST(N'1998-04-26T00:00:00.000' AS DateTime), CAST(N'1998-04-28T00:00:00.000' AS DateTime))
INSERT [dbo].[tDangKy] ([MaDK], [SoPhong], [LoaiPhong], [NgayVao], [NgayRa]) VALUES (N'002', N'202', N'B', CAST(N'1998-04-30T00:00:00.000' AS DateTime), CAST(N'1998-05-03T00:00:00.000' AS DateTime))
INSERT [dbo].[tDangKy] ([MaDK], [SoPhong], [LoaiPhong], [NgayVao], [NgayRa]) VALUES (N'003', N'101', N'A', CAST(N'1998-05-01T00:00:00.000' AS DateTime), CAST(N'1998-06-01T00:00:00.000' AS DateTime))
INSERT [dbo].[tDoanhThu] ([MaDK], [LoaiPhong], [SoNgayO], [ThucThu]) VALUES (N'012', N'A', 2, 400000)
INSERT [dbo].[tDoanhThu] ([MaDK], [LoaiPhong], [SoNgayO], [ThucThu]) VALUES (N'013', N'A', 2, -400000)
INSERT [dbo].[tDoanhThu] ([MaDK], [LoaiPhong], [SoNgayO], [ThucThu]) VALUES (N'014', N'A', 1, 200000)
INSERT [dbo].[tKhachHang] ([LoaiKH], [DienGiai]) VALUES (N'1', N'Khách vãng lai')
INSERT [dbo].[tKhachHang] ([LoaiKH], [DienGiai]) VALUES (N'2', N'Khách hàng thân thiết')
INSERT [dbo].[tKhachHang] ([LoaiKH], [DienGiai]) VALUES (N'3', N'Khách có thẻ của công ty Bảo hiểm')
INSERT [dbo].[tLoaiPhong] ([LoaiPhong], [GiaiThich], [DonGia]) VALUES (N'A', N'Máy Lạnh, Nước nóng, Ti Vi,Tủ lạnh, Đ.Thoại', 200000)
INSERT [dbo].[tLoaiPhong] ([LoaiPhong], [GiaiThich], [DonGia]) VALUES (N'B', N'Máy Lạnh, Nươc Nóng, Điện Thoại', 150000)
INSERT [dbo].[tLoaiPhong] ([LoaiPhong], [GiaiThich], [DonGia]) VALUES (N'C', N'Điện Thoại', 100000)
INSERT [dbo].[tPhong] ([SoPhong], [LoaiPhong], [GhiChu]) VALUES (N'101', N'A', NULL)
INSERT [dbo].[tPhong] ([SoPhong], [LoaiPhong], [GhiChu]) VALUES (N'102', N'A', NULL)
INSERT [dbo].[tPhong] ([SoPhong], [LoaiPhong], [GhiChu]) VALUES (N'103', N'C', NULL)
go


/*
2. Tạo Trigger tính tiền và điền tự động vào bảng tDoanhThu như sau:
Các trường lấy thông tin từ các bảng và các thông tin sau:
Trong đó: 
(a) Số Ngày Ở= Ngày Ra – Ngày Vào 
(b) ThucThu: Tính theo yêu cầu sau: 
Nếu Số Ngày ở <10 Thành tiền = Đơn Giá * Số ngày ở 
Nếu 10 <=Số Ngày ở <30 Thành Tiền = Đơn Giá* Số Ngày ở * 0.95 (Giảm5%) 
Nếu Số ngày ở >= 30 Thành Tiền = Đơn Giá* Số Ngày ở * 0.9 (Giảm10%) 
*/
create trigger Trig_Cau2
on tDangKy
after insert, update 
as 
begin
	declare @SoNgayO int
	declare @ThanhTien money
	update tDoanhThu 
	set tDoanhThu.SoNgayO = DATEDIFF(Day,NgayVao,NgayRa), 
	ThucThu =
		case 
			when tDoanhThu.SoNgayO <10 then tLoaiPhong.DonGia*tDoanhThu.SoNgayO
			when tDoanhThu.SoNgayO >=10 and tDoanhThu.SoNgayO<30 then tLoaiPhong.DonGia*tDoanhThu.SoNgayO*0.95
			when tDoanhThu.SoNgayO>=30 then tLoaiPhong.DonGia*tDoanhThu.SoNgayO*0.9
		end 
	from tDoanhThu 
	inner join inserted on tDoanhThu.MaDK = inserted.MaDK
	inner join tLoaiPhong on tLoaiPhong.LoaiPhong = inserted.LoaiPhong
end
go


--3. Thêm trường DonGia vào bảng tDangKy, tạo trigger cập nhật tự động cho trường này.
alter table tDangKy 
add DonGia int null
go

create trigger Trig_Cau3
on tDangKy
for insert, update
as
begin
	update tDangKy 
	set tDangKy.DonGia = tLoaiPhong.DonGia
	from tDangKy 
	inner join inserted on tDangKy.MaDK = inserted.MaDK
	inner join tLoaiPhong on tLoaiPhong.LoaiPhong = inserted.LoaiPhong
end
go

-- 4. Thêm trường tổng tiêu dùng (TongTieuDung) vào bảng khách hàng và tính tự động tổng 
--    tiền khách hàng đã trả cho khách sạn mỗi khi thêm, sửa, xóa bản tDangKy
alter table tKhachHang
add TongTieuDung money null
go
create trigger Trig_Cau4
on tDangKy
after insert, update, delete
as 
begin
	update tKhachHang set tKhachHang.TongTieuDung = (
		select sum(isnull(tDoanhThu.ThucThu,0))
		from tDoanhThu
		inner join inserted on tDoanhThu.MaDK = inserted.MaDK
	)
end
go

