USE [QLNhanVien]
GO
/****** Object:  Table [dbo].[tChiTietNhanVien]    Script Date: 03-Oct-22 11:07:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietNhanVien](
	[MaNV] [nvarchar](3) NOT NULL,
	[ChucVu] [nvarchar](3) NULL,
	[HSLuong] [tinyint] NULL,
	[MucDoCV] [nvarchar](2) NULL,
	[GTGC] [tinyint] NULL,
 CONSTRAINT [PK_tChiTietNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNhanVien]    Script Date: 03-Oct-22 11:07:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[MaNV] [nvarchar](3) NOT NULL,
	[HO] [nvarchar](15) NULL,
	[TEN] [nvarchar](7) NULL,
	[PHAI] [bit] NOT NULL,
	[NTNS] [datetime] NULL,
	[NgayBD] [datetime] NULL,
	[MaPB] [nvarchar](2) NULL,
	[HINH] [image] NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_tNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPhongBan]    Script Date: 03-Oct-22 11:07:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhongBan](
	[MaPB] [nvarchar](2) NOT NULL,
	[TENPB] [nvarchar](30) NULL,
	[TruongPhong] [nvarchar](3) NULL,
 CONSTRAINT [PK_tPhongBan] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tChiTietNhanVien] ([MaNV], [ChucVu], [HSLuong], [MucDoCV], [GTGC]) VALUES (N'001', N'NV', 4, N'C1', 1)
INSERT [dbo].[tChiTietNhanVien] ([MaNV], [ChucVu], [HSLuong], [MucDoCV], [GTGC]) VALUES (N'002', N'NV', 5, N'C3', NULL)
INSERT [dbo].[tChiTietNhanVien] ([MaNV], [ChucVu], [HSLuong], [MucDoCV], [GTGC]) VALUES (N'003', N'NV', 3, N'C2', 2)
GO
INSERT [dbo].[tNhanVien] ([MaNV], [HO], [TEN], [PHAI], [NTNS], [NgayBD], [MaPB], [HINH], [GHICHU]) VALUES (N'001', N'Lại Văn', N'Sâm', 0, CAST(N'1966-01-01T00:00:00.000' AS DateTime), CAST(N'1990-04-30T00:00:00.000' AS DateTime), N'VP', NULL, N'Nam nhan vien khoe manh, tre trung, co trinh do; Tot nghiep dai hoc loai uu; Nhanh nhen, hoat bat')
INSERT [dbo].[tNhanVien] ([MaNV], [HO], [TEN], [PHAI], [NTNS], [NgayBD], [MaPB], [HINH], [GHICHU]) VALUES (N'002', N'Trần Văn', N'Minh', 0, CAST(N'1965-02-23T00:00:00.000' AS DateTime), CAST(N'1990-05-10T00:00:00.000' AS DateTime), N'VP', NULL, NULL)
INSERT [dbo].[tNhanVien] ([MaNV], [HO], [TEN], [PHAI], [NTNS], [NgayBD], [MaPB], [HINH], [GHICHU]) VALUES (N'003', N'Tống Cảnh', N'Sơn', 0, CAST(N'1963-04-12T00:00:00.000' AS DateTime), CAST(N'1996-10-24T00:00:00.000' AS DateTime), N'TK', NULL, NULL)
GO
INSERT [dbo].[tPhongBan] ([MaPB], [TENPB], [TruongPhong]) VALUES (N'KH', N'Phòng Kinh tế Kế hoạch', N'022')
INSERT [dbo].[tPhongBan] ([MaPB], [TENPB], [TruongPhong]) VALUES (N'KT', N'Phòng Kế toán Tài chánh', N'011')
INSERT [dbo].[tPhongBan] ([MaPB], [TENPB], [TruongPhong]) VALUES (N'TC', N'Phòng Tổ chức Nhân sự', N'029')
GO
ALTER TABLE [dbo].[tChiTietNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietNhanVien_tNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tChiTietNhanVien] CHECK CONSTRAINT [FK_tChiTietNhanVien_tNhanVien]
GO
ALTER TABLE [dbo].[tNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tNhanVien_tPhongBan1] FOREIGN KEY([MaPB])
REFERENCES [dbo].[tPhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[tNhanVien] CHECK CONSTRAINT [FK_tNhanVien_tPhongBan1]
GO



select * from tNhanVien
select * from tPhongBan
select * from tChiTietNhanVien
go
--1. Tạo hàm với đầu vào là năm, đầu ra là danh sách nhân viên sinh vào năm đó
create or alter function Func_Cau1
(
	@nam int
)
returns table as
return
(
	select * from tNhanVien
	where year(tNhanVien.NTNS) = @nam
)
go
select * from Func_Cau1(1963)
go

--2. Tạo hàm với đầu vào là số thâm niên (số năm làm việc) đầu ra là danh sách nhân viên có 
--   thâm niên đó
create or alter function Func_Cau2
(
	@namLamViec int
)
returns table as
return
(
	select * from tNhanVien
	where datediff(day, YEAR(tNhanVien.NgayBD),Year(getdate())) >= @namLamViec
)
go
select * from Func_Cau2(30)
go


--3. Tạo hàm đầu vào là chức vụ đầu ra là những nhân viên cùng chức vụ đó
create or alter function Func_Cau3
(
	@chucVu nvarchar(10)
)
returns table as
return
(
	select tNhanVien.MaNV, tNhanVien.HO, tNhanVien.TEN,tChiTietNhanVien.ChucVu
	from tNhanVien
	inner join tChiTietNhanVien on tNhanVien.MaNV = tChiTietNhanVien.MaNV
	where tChiTietNhanVien.ChucVu = @chucVu
)
go
select * from Func_Cau3(N'NV')
go

--4. Tạo hàm đưa ra thông tin về nhân viên được tăng lương của ngày hôm nay (giả sử 3 năm 
--   lên lương 1 lần)
create or alter function Func_Cau4
(
	@ngay date
)
returns table as
return
(
	select tNhanVien.MaNV, tNhanVien.HO, tNhanVien.TEN, tNhanVien.NTNS,tNhanVien.NgayBD, tChiTietNhanVien.HSLuong,
		tChiTietNhanVien.MucDoCV
	from tNhanVien inner join tChiTietNhanVien on tNhanVien.MaNV=tChiTietNhanVien.MaNV
	where datediff(year,tNhanVien.NgayBD, @ngay)%3=0
)
go
select * from Func_Cau4(GETDATE())
go

-- 5. Tạo Hàm xây dựng bảng lương của nhân viên gồm các thông tin sau:
--    - Lương = lương cơ bản * HSLuong + Phụ cấp (Giả sử lương cơ bản=1490000vnd (1.49tr))
--    - BHXH: 8%*lương (bảo hiểm xã hội)
--    - BHYT: 1,5% * lương (bảo hiểm y tế)
--    - BHTN: 1%* lương (Bảo hiểm thất nghiệp)
--	  - Thuế TNCN (Thuế thu nhập cá nhân) được tính như sau:
--			Bậc Thu nhập tháng Số thuế phải nộp
--				1) TN<=5tr TN*5%
--				2) 5tr<TN<=10tr TN*10%-0.25tr
--				3) 10tr<TN<=18tr TN*15%-0.75tr
--				4) 18tr<TN<=32tr TN*20%-1.65tr
--				5) 32tr<TN<=52tr TN*25%-3.25tr
--				6) 52tr<TN<=80tr TN*30%-5.85tr
--				7) TN>80tr TN*35%-9.85tr
--		Trong đó: TN= Lương - BHXH - BHYT - BHTN - 11tr (mức chịu thuế) - GTGC*4.4tr (Giảm 
--		trừ gia cảnh)
---		Phụ cấp: Mức độ công việc là A thì phụ cấp 10tr, mức độ B là 8tr, mức độ C là 5tr
---		Thực lĩnh: Lương – (BHXH+BHYT+BHTN + Thuế TNCN) 

create or alter function Func_Cau5
(
	@maNhanVien nvarchar(20)
)
returns money 
as
	begin
		declare @MucDoCV nvarchar(2);
		set @MucDoCV = (select MucDoCV from tChiTietNhanVien where MaNV = @maNhanVien);
		declare @luongCoBan money = 1490000;
		declare @phuCap money;
		declare @TN money;
		declare @Luong money,
				@BHXH money, 
				@BHYT money,
				@BHTN money,
				@ThueTNCN money,
				@ThucLinh money 
		select @phuCap = 
			   case 
					when LEFT(@MucDoCV, 1)=N'A' then 10000000
					when LEFT(@MucDoCV, 1)=N'B' then 8000000
					when LEFT(@MucDoCV, 1)=N'C' then 5000000
					else 0
				end, 
		@Luong = @luongCoBan*tChiTietNhanVien.HSLuong + @phuCap,
		@BHXH = 0.08*@Luong, @BHYT=0.015*@Luong, @BHTN=0.01*@Luong,
		@TN= @Luong-@BHXH-@BHYT-@BHTN - 11000000 - (select GTGC from tChiTietNhanVien 
													where MaNV = @maNhanVien)*4400000,
		@ThueTNCN = 
			case
				when @TN < 5000000 then @TN*0.05
				when 5000000<@TN and @TN<10000000 then @TN*0.1-250000
				when 10000000<@TN and @TN<18000000 then @TN*0.15-750000
				when 18000000<@TN and @TN<32000000 then @TN*0.2-1650000
				when 32000000<@TN and @TN<52000000 then @TN*0.25-3250000
				when 52000000<@TN and @TN<80000000 then @TN*0.3-5850000
				when @TN>80000000 then @TN*0.35-9850000
				else 0
			end,
		@ThucLinh= @Luong-(@BHXH+@BHYT+@BHTN+@ThueTNCN)
		from tChiTietNhanVien
		where tChiTietNhanVien.MaNV = @maNhanVien
		return @ThucLinh 
	end 
go
select dbo.Func_Cau5(tChiTietNhanVien.MaNV) from tChiTietNhanVien
go

--6. Tạo thủ tục có đầu vào là mã phòng, đầu ra là số nhân viên của phòng đó và tên trưởng phòng
create or alter procedure Proc_Cau6
(
	@maPhong nvarchar(10),
	@soNhanVien int output,
	@tenPhong nvarchar(20) output
)
as 
begin
	select @soNhanVien = count(tNhanVien.MaNV), @tenPhong=tPhongBan.TENPB 
	from tNhanVien inner join tPhongBan on tNhanVien.MaPB=tPhongBan.MaPB
	where tPhongBan.MaPB = @maPhong
	group by tPhongBan.TENPB
end
go
declare @maPhongTest nvarchar(10) = N'KH';
declare @soNhanVienTest int;
declare @tenTruongPhongTest nvarchar(20);
exec Proc_Cau6
	@maPhong = @maPhongTest,
	@soNhanVien = @soNhanVienTest output,
	@tenPhong = @tenTruongPhongTest output
print 'Phong: ' + cast(@maPhongTest as nvarchar(10))
print 'Ten phong: ' + cast(@tenTruongPhongTest as nvarchar(20))
print 'So nhan vien: ' + cast(@soNhanVienTest as nvarchar(10))
go

--7. Tạo thủ tục có đầu vào là mã phòng, tháng, năm, đầu ra là số tiền lương của phòng đó
create or alter procedure Proc_Cau7
(
	@maPhong nvarchar(10),
	@thang int,
	@nam int,
	@soTienLuong money output
)
as 
begin
	select @soTienLuong=sum(dbo.Func_Cau5(tNhanVien.MaNV))
	from tNhanVien
	where tNhanVien.MaPB = @maPhong and MONTH(GETDATE())=@thang and YEAR(getdate())=@nam
end
go

declare @maPhongTest nvarchar(10) = N'KH';
declare @thangTest int = 5;
declare @namTest int = 2014;
declare @soTienLuongTest money
exec Proc_Cau7
	@maPhong = @maPhongTest,
	@thang = @thangTest,
	@nam = @namTest,
	@soTienLuong = @soTienLuongTest output

print 'Ma phong: ' + cast(@maPhongTest as nvarchar(10))
print 'Thang: ' + cast(@thangTest as nvarchar(10))
print 'Nam: ' + cast(@namTest as nvarchar(10))
print 'So tien luong: ' + cast(@soTienLuongTest as nvarchar(30))

